.cart { 
    align-items: center;
    background: rgb(26, 26, 26);
    display: flex;
    flex-direction: column;
    height: 87vh;
    justify-content: center;
}

.notCart {
    display: none;
}

.cart__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
}

.cart__head-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart__container {
    align-items: flex-start;
    background: rgb(0, 0, 0, 0.80);
    border-radius: 15px;
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    overflow-x: auto;
    padding: 15px 0;
    width: 75vw;
    margin-bottom: 10px;
}

.cart__list-titles {
    align-items: center;
    color: rgba(230,30,61);
    display: flex;
    font-size: 1rem;
    font-weight: bolder;
    margin-top: 10px;
    padding: 5px;
    white-space: nowrap;
}

.cart__list-parameters, .cart__list-parameters2 {
    align-items: center;
    color: rgb(255, 255, 255);
    display: flex;
    padding: 5px;
    white-space: wrap;
}

.cart__list-parameters2 {
    background: rgb(128 128 128 / 50%);
}

.parameter__id {
    display: flex;
    justify-content: center;
    padding: 0 2px;
    width: 40px;
}

.parameter__short {
    display: flex;
    justify-content: center;
    padding: 0 2px;
    width: 40px;
}

.parameter__large {
    display: flex;
    justify-content: center;
    padding: 0 2px;
    width: 100px;
}

.parameter__xlarge {
    display: flex;
    padding: 0 2px;
    width: 460px;
    text-align: initial;
}


@media screen and (min-width: 1024px) {

    .cart__container {
        align-items: center;
        width: 90vw;
    }

}
/*-----------------------Cards Responsives-----------------------------------*/
.cartContainer {
    border: 1px solid black;
    border-radius: 3px;
    margin: 10px 0;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.detailContainer {
    flex-grow: 1;
}
.totalGralContainer {
    border: 1px solid black;
    border-radius: 3px;
}
.addToggleContainer {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}