.form { 
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 81vh;
    justify-content: center;
}

.form__titulo {
    display: contents;
    font-size: 1.7rem;
    font-weight: bolder;
    width: 90vw;
}

.form__titulo-detalle {
    background: rgba(33, 37, 41);
    border: 1px solid transparent;
    border-radius: 10px;
    color: white;
    font-size: 2rem;
    text-align: center;
    width: 80vw;
}

.form__container {
    align-items: flex-start;
    background: rgba(33, 37, 41);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 10px;
    width: 90%;
}

.form__input-section {
    align-items: center;
    display: flex;
    width: 100%;
}

.form__textarea-section {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    width: 100%;
}

.form__input-name, .form__input-email {
    background: rgb(0 0 0 / 0%);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-size: 0.9rem;
    margin: 4px;
    height: 1.2rem;
    width: 100%;
}

.form__input-name::placeholder, .form__input-email::placeholder {
    color: white;
}

.form__textarea-menssage {
    background: rgb(0 0 0 / 0%);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    margin: 3px -5px;
    margin-bottom: 10px;
    width: inherit;
}

.form__textarea-menssage::placeholder {
    color: white;
    font-size: 1rem;
}

.form__input-title {
    color: red;
    display: flex;
    font-weight: bold;
    justify-content: center;
    width: 80px;
    font-size: 1rem;
}

.form__input-error {
    color: red;
    display: flex;
    font-size: 0.7rem;
    justify-content: flex-start;
    margin-left: 5.5rem;
}



.form__btn {
    align-items: center;
    background: rgba(33, 37, 41, 0.5);
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    display: flex;
    font-weight: bolder;
    height: 1.7rem;
    justify-content: center;
    margin-top: 5px;
    transition: 0.5s;
    width: 150px;
}

.form__btn:hover {
    background: white;
    color: red;
}

@media screen and (min-width: 1024px) {
    
    .form__container {
        width: 60vw;
    }

    .form__titulo-detalle {
        padding: 15px;
        text-align: center;
        width: 50vw;
    }

}