.createItem__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.createItem__form {
    display: flex;
    flex-direction: column;
    width: 50vw;
    align-items: center;
}

.createItem__form-title {
    font-size: 2rem;
}

.createItem__form-input-error {
    color: red;
    font-size: 0.8rem;
}

.createItem__btn {
    margin-top: 25px;
}

@media screen and (min-width: 768px) {

    .createItem__form {
        width: 70vw;
        align-items: stretch;
    }

}

@media screen and (min-width: 1024px) {

    .createItem__form {
        width: 50vw;
        align-items: stretch;
    }

}