.ItemCardContainer {
    display: flex;
    width: 300px;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 4px;
    transition: 0.6s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #e8e4e6;
}
.title {
    margin: 15px;
    font-size:large;
    text-align: center;
}
.detailCardContainer {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.productImg {
    width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.buttonsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px;
}
.buttonBuy {
    width: 64%;
    margin-bottom: 10px;
}

.ItemListContainer:hover {
    transform: scale(1.03);
}
