:root {
    --Background: #004643;
    --Headline: #fffffe;
    --Paragraph: #abd1c6;
    --Button: #f9bc60;
    --ButtonDarkness: #e7b160;
    --text: #001e1d;
    --Stroke: #001e1d;
    --Main: #e8e4e6;
    --Highlight: #f9bc60;
    --Secondary: #abd1c6;
    --Tertiary: #e16162;
    --FontFamily: 'Josefin Sans', sans-serif;
}
.login__container {
    background: rgb(131,24,24);
    background: linear-gradient(31deg, rgba(131,24,24,1) 22%, rgba(173,35,81,1) 53%, rgba(193,105,41,1) 80%); 
    font-family: var(--FontFamily);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 400px;
    margin-top: 50px;
    background-color: var(--Secondary);
    border-radius: 3px;
    padding: 20px 40px;
}
.login__form-title {
    font-size: larger;
}
.input__form {
    border: none;
    outline: none;
}
.login__user-btn {
    border: none;
    background-color: var(--Button);
    color: var(--text);
}
.login__user-btn:hover {
    color: var(--Tertiary);
    background-color: var(--ButtonDarkness);
}
.link {
    text-decoration: none;
    color: var(--text);
}
.link:hover {
    color: var(--Tertiary);
}
.alert__mesaje {
    color: var(--Tertiary);
    text-align: start;
}

@media (max-width: 450px) {
    .login__form {
        width: 300px;
    }
}
@media (max-width: 335px) {
    .login__form {
        width: 250px;
    }
}